.container{padding-left:20px;padding-right:20px;}
.one-half,.one-quarter,.three-quarters,.one-third,.two-thirds{margin-right:3.8%;float:left;min-height:1px;}
.row{width:100%;max-width:1140px;min-width:755px;margin:0 auto;overflow:hidden;}
.row .one{width:100%;float:left;}
.row .one-half{width:48%;}
.row .one-third{width:30.75%;}
.row .two-thirds{width:65.4%;}
.row .one-quarter{width:22.05%;}
.row .three-quarters{width:74.05%;}
.left{float:left;}
.right{float:right;}
.last{margin-right:0px;}
img,object,embed{max-width:100%;}
img{height:auto;}
@media only screen and (max-width: 1023px){body{font-size:0.8em;line-height:1.5em;}}@media handheld, only screen and (max-width: 767px){body{font-size:16px;-webkit-text-size-adjust:none;} .row,body,.container{width:100%;min-width:0;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;} .row .onecol,.row .twocol,.row .threecol,.row .fourcol,.row .fivecol,.row .sixcol,.row .sevencol,.row .eightcol,.row .ninecol,.row .tencol,.row .elevencol,.row .twelvecol{width:auto;float:none;margin-left:0px;margin-right:0px;padding-left:20px;padding-right:20px;}}
