.container{padding-left:20px;padding-right:20px;}
.row{width:100%;max-width:1140px;min-width:755px;margin:0 auto;overflow:hidden;}
.one,.one-half,.one-quarter,.three-quarters,.one-third,.two-thirds{margin-right:3.8%;float:left;min-height:1px;}
.row .one{width:100%;float:left;}
.row .one-half{width:48%;}
.row .one-third{width:30.75%;}
.row .two-thirds{width:65.4%;}
.row .one-quarter{width:22.05%;}
.row .three-quarters{width:74.05%;}
.left{float:left;}
.right{float:right;}
.last{margin-right:0px;}
img,object,embed{max-width:100%;}
img{height:auto;}
