@import url('normalize.css');
@import url('responsive.css');
.screen-width{display:block;width:screen-width;padding:20px;}
.centered{margin-left:auto;margin-right:auto;}
.link-button{padding:10px;color:#ffffff;-moz-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;border:1px solid #ffffff;}
body{font-size:1em;line-height:1.5em;}
.small{font-size:0.8125em;line-height:1.3846153846153846em;}
.normal,h3{font-size:1em;line-height:1.5em;}
.large,h2,h1{font-size:1.625em;line-height:1.3846153846153846em;}
.huge{font-size:2.625em;line-height:1.1428571428571428em;}
.massive{font-size:4.25em;line-height:1.0588235294117647em;}
.gigantic{font-size:6.875em;line-height:1.0909090909090908em;}
.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;}
.ir br{display:none;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
@media only screen and (max-width:1023px){body{font-size:0.8em;line-height:1.5em;}}@media handheld,only screen and (max-width:767px){body{font-size:16px;-webkit-text-size-adjust:none;} .row,body,.container{width:100%;min-width:0;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;} .row .one-half,.row .one-third,.row .two-thirds,.row .one-quarter,.row .three-quarters,.row .one{width:auto;float:none;margin-left:0px;margin-right:0px;padding-left:20px;padding-right:20px;}}@media only screen and (min-width:480px){}@media only screen and (min-width:768px){}@media print{*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
