/**********************************\
 * Fraction.less Main Stylesheet  *
 *                                *
 * Author:  Bill Patrianakos      *
 * Site:  	billpatrianakos.me    *
 * License: BSD                   *
\**********************************/
/* Site-wide color scheme */
/*:::: SITE COLORS ::::*/
/* BACKGROUND GRADIENT MIXINS */
/* LESS Mixins */
/*:::: MIXINS ::::*/
.centered {
  margin-left: auto;
  margin-right: auto;
}
.centered-text {
  text-align: center;
}
/* CSS "reset" */
/******************************************************\
 * Custom Build of 'normalize.css' originally by      *
 * Necolas - http://github.com/necolas/normalize.css  *
 *                                                    *
 * Modified for use in Fraction.less. See original    *
 * for normalize.css documentation.                   *
\******************************************************/
/*:::: DEFAULT COLOR SETTINGS ::::*/
/*:::: HTML5 DISPLAY DEFINITIONS ::::*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/*:::: BASE ::::*/
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*:::: LINKS ::::*/
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
/*:::: TYPOGRAPHY ::::*/
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ffff00;
  color: #000000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/*:::: LISTS ::::*/
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/*:::: EMBEDDED CONTENT ::::*/
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
svg:not(:root) {
  overflow: hidden;
}
/*:::: FIGURES ::::*/
figure {
  margin: 0;
}
/*:::: FORMS ::::*/
form {
  margin: 0;
}
fieldset {
  border: none;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  /* 1 */

  *margin-left: -7px;
  /* 2 */

}
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
button,
input {
  line-height: normal;
  /* 1 */

}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/*:::: TABLES ::::*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*:::: TEXT SELECTION COLORS ::::*/
::selection,
::-moz-selection {
  background: #ffff9e;
}
img::selection,
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #ffff9e;
}
/* Grid Framework */
/****************************************\
 * Fraction.less Responsive grid 		*
 *							 	  		*
 * Author: 	Bill Patrianakos 	  		*
 * Site:	billpatrianakos.me 	  		*
 * License: BSD					  		*
\****************************************/
/*:::: CONTAINERS ::::*/
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}
/*:::: COLUMNS ::::*/
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.row .one {
  width: 4.85%;
}
.row .two {
  width: 13.45%;
}
.row .three {
  width: 22.05%;
}
.row .four {
  width: 30.75%;
}
.row .five {
  width: 39.45%;
}
.row .six {
  width: 48%;
}
.row .seven {
  width: 56.75%;
}
.row .eight {
  width: 65.4%;
}
.row .nine {
  width: 74.05%;
}
.row .ten {
  width: 82.7%;
}
.row .eleven {
  width: 91.35%;
}
.row .twelve {
  width: 100%;
  float: left;
}
/*:::: FLOATS ::::*/
.left {
  float: left;
}
.right {
  float: right;
}
/* Last div in a row can't mess up our nice grid */
.last {
  margin-right: 0px;
}
/*:::: RESPONSIVE IMAGES ::::*/
img,
object,
embed {
  max-width: 100%;
}
img {
  height: auto;
}
/* !! MEDIA QUERIES ARE AT THE BOTTOM OF 'style.less' !! *//* Typography */
/*:::: TYPOGRAPHY ::::*/
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #000000 0;
  -o-text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  text-shadow: 0 1px 1px #ffffff;
}
h1,
h2,
h3,
h4 {
  margin-top: 18px;
}
h3,
h4,
h5,
h6 {
  line-height: 18px;
}
h1,
h2 {
  line-height: 36px;
  margin-bottom: 18px;
}
p,
pre,
address {
  font-size: 13px;
  line-height: 18px;
  position: relative;
  top: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  -o-text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  text-shadow: 0 1px 1px #ffffff;
}
h6 {
  font-size: 13px;
  top: 5px;
}
h5 {
  font-size: 15px;
  top: 4px;
}
h4 {
  font-size: 18px;
  top: 2px;
}
h3 {
  font-size: 22px;
  top: 1px;
}
h2 {
  font-size: 28px;
  top: 8px;
}
h1 {
  font-size: 36px;
  top: 5px;
}
a,
a:visited {
  color: #ffffff;
  -o-text-shadow: 0 1px 1px #000000 0;
  -moz-text-shadow: 0 1px 1px #000000 0;
  -webkit-text-shadow: 0 1px 1px #000000 0;
  text-shadow: 0 1px 1px #000000 0;
}
a:focus,
a:hover {
  color: #000000 0;
  -o-text-shadow: 0 1px 1px #000000 0;
  -moz-text-shadow: 0 1px 1px #000000 0;
  -webkit-text-shadow: 0 1px 1px #000000 0;
  text-shadow: 0 1px 1px #000000 0;
}
.secondary p {
  font-size: 14px;
  line-height: 20px;
}
/*:::: BUTTONS ::::*/
/* For styling links as buttons */
.link-button,
.link-button:visited {
  padding: 6px 10px;
  color: #000000 0;
  -o-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  /* Gives your button a "shiny"/"candy" effect */

  -o-text-shadow: 0 -1px 1px #000000 0;
  -moz-text-shadow: 0 -1px 1px #000000 0;
  -webkit-text-shadow: 0 -1px 1px #000000 0;
  text-shadow: 0 -1px 1px #000000 0;
  border: 1px solid #000000 0;
  /* Color should be set to the darkest shade of your button gradient for best effect */

  white-space: nowrap;
}
.link-button:hover {
  color: #ffffff;
  -o-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  /* Same rules apply as above for appearance of hovered buttons */

  border: 1px solid #000000 0;
}
/*:::: FORMs ::::*/
/**************************************\
|* THE REST OF YOUR STYLES BELOW HERE *|
\**************************************/
/*:::: HELPER CLASSES ::::*/
/*
 * Define your styles first. Add media queries below here.
 */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
/* Hidden from browsers and screen readers */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*  Hidden visibly but available to screenreaders. Same as .hidden but good for accessibility */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends .visually hidden to allow element to be focusable when using the keyboard */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout. Think of it as having an element match the background - looks hidden but affects other elements. Cannot be highlighted */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q This is a godsend in many cases */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/*:::: MEDIA QUERIES ::::*/
/* Smaller screens */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
/* Mobile */
@media handheld, only screen and (max-width: 767px) {
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }
  .row,
  body,
  .container {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row .one,
  .row .two,
  .row .three,
  .row .four,
  .row .five,
  .row .six,
  .row .seven,
  .row .eight,
  .row .nine,
  .row .ten,
  .row .eleven,
  .row .twelve {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Extra queries just in case... */
/*@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}*/
/* Hi-Res images for iPhone4 */
/*@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/
/*}*/
/* Print styles */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
