body{font-size:1em;line-height:1.5em;}
.small{font-size:0.8125em;line-height:1.3846153846153846em;}
.normal,h3{font-size:1em;line-height:1.5em;}
.large,h2,h1{font-size:1.625em;line-height:1.3846153846153846em;}
.huge{font-size:2.625em;line-height:1.1428571428571428em;}
.massive{font-size:4.25em;line-height:1.0588235294117647em;}
.gigantic{font-size:6.875em;line-height:1.0909090909090908em;}
