/*:::: Site color scheme ::::*/
$black: #272727;
$white: #f7f7f7;

/*:::: Typography ::::*/
$headline: #202020;
$bodytype: #505050;
$link: #0A457D;
$vlink: #095B90;
$hlink: #2E75AD;

/*:::: Gradients ::::*/

