/*====================================================================*\
 * Fraction.less Grid 												  *
 * Adapted from The 1140px Grid V2 by Andy Taylor http://cssgrid.net  *
 * http://fractionless.info 										  *
\*====================================================================*/

/*:::: Grid variables ::::*/
$max-width: 1140px; // Max width of your pages
$min-width: 755px; // Min-width of your pages


/*:::: Containers ::::*/
.container {
	padding-left: 20px;
	padding-right: 20px;
}

.row {
	width: 100%;
	max-width: $max-width;
	min-width: $min-width;
	margin: 0 auto;
	overflow: hidden;
}

/*:::: Columns ::::*/
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven {
	margin-right: 3.8%;
	float: left;
	min-height: 1px;
}

.row .one {
	width: 4.85%;
}

.row .two {
	width: 13.45%;
}

.row .three {
	width: 22.05%;
}

.row .four {
	width: 30.75%;
}

.row .five {
	width: 39.45%;
}

.row .six {
	width: 48%;
}

.row .seven {
	width: 56.75%;
}

.row .eight {
	width: 65.4%;
}

.row .nine {
	width: 74.05%;
}

.row .ten {
	width: 82.7%;
}

.row .eleven {
	width: 91.35%;
}

.row .twelve {
	width: 100%;
	float: left;
}

/*:::: Floats ::::*/
.left {
	float: left;
 }

.right {
	float: right;
 }

.last { // Last column in a row can't mess up our nice layout
	margin-right: 0px;
}

/*:::: Images and objects ::::*/
img, object, embed {
	max-width: 100%;
}

img {
	height: auto;
}
