/**********************************\
 * Fraction.less Responsive Grid  *
 *							 	  *
 * Author: 	Bill Patrianakos 	  *
 * Site:	billpatrianakos.me 	  *
 * License: BSD					  *
\**********************************/

 /*:::: GRID VARIABLES ::::*/
 
 @page-padding: 20px;
 @page-margin:	3.8%;
 @max-width:	1140px;
 @min-width:	755px;

 /*:::: CONTAINERS ::::*/
 
 .container {
	padding-left: @page-padding;
	padding-right: @page-padding;
 }

 .row {
  	width: 100%;
	max-width: @max-width;
	min-width: @min-width;
	margin: 0 auto;
	overflow: hidden;
 }
 
 /*:::: COLUMNS ::::*/

 .one, .one-half, .one-quarter, .three-quarters, .one-third, .two-thirds {
	margin-right: @page-margin;
	float: left;
	min-height: 1px;
row
 
 . } .one {
	width: 100%;
	float: left;
 }
 
 .row .one-half {
 	width: 48%;
 }
 
 .row .one-third {
 	width: 30.75%;
 }
 
 .row .two-thirds {
 	width: 65.4%;
 }
 
 .row .one-quarter {
 	width: 22.05%;
 }
 
 .row .three-quarters {
 	width: 74.05%;
 }

 /*:::: FLOATS ::::*/
 
 .left {
 	float: left;
 }
 
 .right {
 	float: right;
 }

 /* Last div in a row can't mess up our nice grid */
 
 .last {
 	margin-right: 0px;
 }

 /*:::: RESPONSIVE IMAGES ::::*/
  
 img, object, embed {
	max-width: 100%;
 }

img {
	height: auto;
 }

/*:::: SMALL SCREENS ::::*/

 @media only screen and (max-width: 1023px) {

	body {
		font-size: 0.8em;
		line-height: 1.5em;
	}
	
 }


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
		font-size: 16px;
		-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.row .one-half, .row .one-third, .row .two-thirds, .row .one-quarter, .row .three-quarters, .row .one {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}

 }

