/*:::: Typography ::::*/

body {
	font-size: 75%;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	position: relative;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #202020;
}

h1, h2 {
	line-height: 1em;
	margin-bottom: 18px;
}

h1, h2, h3, h4 {
	margin-top: 18px;
}

h3, h4, h5, h6 {
	line-height: 0.8em;
}

h1 {
	font-size: 36px;
	top: 5px;
}

h2 {
	font-size: 28px;
	top: 8px;
}

h3 {
	font-size: 22px;
	top: 1px;
}

h4 {
	font-size: 18px;
	top: 2px;
}

h5 {
	font-size: 15px;
	top: 4px;
}

h6 {
	font-size: 13px;
	top: 5px;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child {
	margin-top: 0;
}

p, pre, address {
	font-size: 16px;
	line-height: 1.5em;
	position: relative;
	top: 5px;
	color: #505050;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

small {
	font-size: 75%;
}

abbr, code, kbd, samp, small, var {
	line-height: 15px;
}

ul, ol, dl, dialog {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	position: relative;
	top: 5px;
	margin-top: 18px;
	margin-bottom: 18px;
	color: #505050;
}

li ul, li ol, ul ul, ol ol {
	top: 0;
	margin-top: 0;
	margin-bottom: 0;
}

li h1, li h2, li h3, li h4, li h5, li h6, li p {
	top: 0;
}

form, legend, label {
	font-size: 13px;
	line-height: 18px;
}

legend {
	position: relative;
	top: 5px;
}

table {
	font-size: 13px;
}

caption {
	font-size: 13px;
	line-height: 18px;
	position: relative;
}

a {
	color: #0A457D;
	text-decoration: none;
}

a:visited {
	color: #095B90;
}

a:hover {
	color: #2E75AD;
}
